@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

body .main .contenedor__imagen {
  height: 150px;
  overflow: hidden;
}
body .main .contenedor__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .main .receta {
  border: 1px solid red;
  padding: 20px;
}
body .main .receta .descripcion .descripcion__contenido {
  font-weight: 400;
  font-size: 15px;
  padding: 15px 0;
}
body .main .receta .preparacion-contenedor .tiempo {
  border-radius: 10px;
  padding: 16px;
  background-color: #fff7fc;
}
body .main .receta .preparacion-contenedor .tiempo .tiempo__titulo {
  font-weight: 600;
  padding: 8px 0;
  color: #611f39;
}
body .main .receta .preparacion-contenedor .tiempo .tiempo__contenedor {
  display: flex;
  align-items: center;
  padding: 5px 7px;
}
body .main .receta .preparacion-contenedor .tiempo .tiempo__contenedor .fa-check {
  color: #80533d;
}
body .main .receta .preparacion-contenedor .tiempo .tiempo__contenedor p {
  font-size: 14px;
  padding: 0 10px;
}
body .main .receta .preparacion-contenedor .tiempo .tiempo__contenedor p span {
  font-weight: 600;
}
body .main .receta .preparacion-contenedor .ingredientes {
  padding: 22px 0;
  border-bottom: 1px solid black;
}
body .main .receta .preparacion-contenedor .ingredientes .ingredientes__titulo {
  font-size: 27px;
  color: #80533d;
  padding-bottom: 20px;
}
body .main .receta .preparacion-contenedor .ingredientes .ingredientes__contenido {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
body .main .receta .preparacion-contenedor .ingredientes .ingredientes__contenido .fa-circle-check {
  padding: 0 5px;
  color: #80533d;
}
body .main .receta .preparacion-contenedor .ingredientes .ingredientes__contenido p {
  padding: 0 10px;
}
body .main .receta .instrucciones {
  padding: 10px 0;
  border-bottom: 1px solid black;
}
body .main .receta .instrucciones .instrucciones__titulo {
  font-size: 28px;
  color: #80533d;
}
body .main .receta .instrucciones .instrucciones__instruccion {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
}
body .main .receta .instrucciones .instrucciones__instruccion .instrucciones__numero {
  font-size: 19px;
  color: #80533d;
}
body .main .receta .instrucciones .instrucciones__instruccion .instrucciones__detalle {
  font-size: 15px;
  padding: 0 10px;
}
body .main .receta .instrucciones .instrucciones__instruccion .instrucciones__detalle span {
  font-weight: 600;
}
body .main .receta .nutricion .nutricion__titulo {
  font-size: 28px;
  color: #80533d;
  padding: 20px 0;
}
body .main .receta .nutricion .nutricion__descripcion {
  font-size: 15px;
  padding: 10px 0;
}
body .main .receta .nutricion .nutricion__tabla .nutricion__especificacion {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  padding: 8px 0;
}
body .main .receta .nutricion .nutricion__tabla .nutricion__especificacion p {
  width: 70px;
}
body .main .receta .nutricion .nutricion__tabla .nutricion__especificacion .nutricion__color {
  color: #80533d;
  font-weight: 650;
}
body .main .receta .nutricion .nutricion__tabla .borde {
  border-bottom: 1px solid black;
}

/*# sourceMappingURL=main.css.map */
